@import url(https://fonts.googleapis.com/css?family=Overpass+Mono);
@import url(https://fonts.googleapis.com/css?family=Varela+Round);

body{
  margin: 0;
}

#app{
  width: 100vw;
  height: 100vh;
}

#main{
  width: 100vw;
  height: 100vh;
  z-index: 10;
}

#terminal{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
	font-size: 14px;
	letter-spacing: 0.15em;
  &::-webkit-scrollbar {
    background: transparent;
  }
}

.overlay{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  z-index: 999;
  pointer-events:none;
}

$scrollBarColor: #00403E;
$scrollBarWidth: 8px;

.screen{
  box-sizing: border-box;
  font-family: 'Overpass Mono', monospace;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: top 0.5s, right 0.5s, bottom 0.5s, left 0.5s, padding 0.5s;
  overflow-y: auto;
  overflow-wrap: break-word;
  &::-webkit-scrollbar{
    width: $scrollBarWidth;
    background-color: transparent;
  };
  &::-webkit-scrollbar-thumb{
    background-color: $scrollBarColor;
  }
  &::-moz-scrollbar{
    width: $scrollBarWidth;
    background-color: transparent;
  };
  &::-moz-scrollbar-thumb{
    background-color: $scrollBarColor;
  }
  &::-ms-scrollbar{
    width: $scrollBarWidth;
    background-color:transparent;
  };
  &::-ms-scrollbar-thumb{
    background-color: $scrollBarColor;
  }
}

.control {
  position: fixed;
  z-index: 2000;
  font-family: 'Overpass Mono', monospace;
  top: 6px;
  font-size: 15px;
  right: 80px;
  padding:10px;
  margin:8px auto;
  background:#62658a;
  color:#fff;
  text-shadow:1px 1px 0 rgba(0,0,0,0.2);
  box-shadow:3px 3px 0 rgba(0,0,0,0.4);
  a {
    display:inline-block;
    text-decoration:none;
    transition:all 0.2s;
    color:#2a0424;
    padding:1px;
    background:rgba(0,0,0,0.4);
    pointer-events: none;
  }
  .active {
    color:#b299ff;
    background:rgba(0,0,0,0.2);
    cursor: pointer;
    pointer-events: auto;
  }
  a:hover{
    background:rgba(0,0,0,0.4);
    border:0
  }
  a:before{content:"[ ";color:#eee}
  a:after{content:" ]";color:#eee}
}

.skippedIntro {
  margin: 4px;
  font-size: 20px;
  background-color: red;
  color: #fff;
}

.introWindow {
  box-sizing: border-box;
  font-family: 'Varela Round', sans-serif;
  em {
    color: #5D9CEC;
    font-weight: bold;
  }
}

@keyframes blink {
    0% {border-left: 3px solid #1718c4;}
    50% {border-left: 3px solid #1718c4;}
    51% {border-left: 0px;}
    100% {border-left: 0px;}
}

.parsingCursor {
  border-right: none;
  width: 0;
  animation-name: blink;
  animation-iteration-count: infinite;
  animation-duration: 1s;
}
