@import url(https://fonts.googleapis.com/css?family=VT323);
@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:400);

body{
  margin: 0;
}

#main{
  z-index: 1000;
}
#terminal{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
	font-size: 16px;
	letter-spacing: 0.15em;
  &::-webkit-scrollbar {
    background: transparent;
  }
}

.underlay{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  z-index: -999;
  pointer-events:none;
}

.overlay{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  z-index: 999;
  pointer-events:none;
}

.csscode{
  font-family: 'Source Code Pro';
  letter-spacing: unset;
  font-size: 10px;
  color: #6f6;
}

.screen{
  box-sizing: border-box;
  height: 100vh;
  overflow-y: auto;
  overflow-wrap: break-word;
  /*word-wrap: break-word;*/
}

.jscode{
  color: #fd971c;
  font-size: 14px;
  text-shadow: 0 0 2px rgba(31, 240, 66, 0.75);
}
