%effect{
  filter:url("#glitchText");
}
.text{
  @extend %effect;
  display: inline-block;
}

#glitchText{
  font-size:200px;
  position: absolute;
  font-family: monospace;
  margin:0 auto;
  @extend %effect;
  display:inline-block;
  text-align:center;
  color: white;
}
@keyframes noise-anim{
  $steps: 30;
  @for $i from 0 through $steps{
    #{percentage($i*(1/$steps))}{
      clip:rect(random(200)+px,999px,random(200)+px,0);
    }
  }
}
// #glitchText:after{
//   content:attr(data-text);
//   position:absolute;
//   left:5px;
//   text-shadow:-1px 0 red;
//   top:0;
//   color:black;
//   background:white;
//   overflow:hidden;
//   // clip:rect(0,300px,0,0);
//   font-family: monospace;
//   animation:noise-anim 30s infinite linear alternate-reverse;
// }

@keyframes noise-anim-2{
  $steps:30;
  @for $i from 0 through $steps{
    #{percentage($i*(1/$steps))}{
      clip:rect(random(2000)+px,9999px,random(2000)+px,0);
    }
  }
}

// #glitchText:before{
//   content:attr(data-text);
//   position:absolute;
//   left:-5px;
//   text-shadow:1px 0 blue;
//   top:0;
//   color:black;
//   background:0;
//   overflow:hidden;
//   font-family: monospace;
//   // clip:rect(0,900px,0,0);
//   animation:noise-anim-2 30s infinite linear alternate-reverse;
// }
